<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include('../../common/header', {
        title: '商品详情'
    }) %>
</head>
<body>
    <%- include('../../common/navbar') %>
    <%- include('./container') %>
    <%- include('./modal') %>
    <%- include('../../common/footer') %>
</body>
<%- include('../../common/script') %>
<%- include('./script') %>
<%- include("./style") %>
</html>