<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include('../../common/header', {
        title: '在线商城 - 首页'
    }) %>
</head>
<body>
    <%- include('../../common/navbar') %>
    
    <%- include('./container') %>

    <%- include('../../common/footer') %>
</body>

<%- include('../../common/script') %>
<%- include('./script') %>

<%- include('./style') %>